/*CSS Style Document*/


p{
	color:red;
}

img{
	height:200px;
	width: 300px;
}

ul{
	list-style-type: square;
}

h1{
	font-family: "Helvetica Neue", sans-serif;
}

#purple-paragraph{
	color: violet;
}

#big-image{
	height: 1000px;
	width: 1000px;
}

#small-image{
	height: 10px;
	width: 10px;
}

.byline{
	font-family: cursive;
	font-size: 20px;
	text-transform: uppercase;
}

#purple-list{
	background-color: violet;

}